<div class="index-container">
  <div class="index-background">
    <div class="index-title-container justify-between">  <!-- Volver -->
    <div class="w-1/3">
      <%= link_to today_daily_agendas_path, class: "flex items-center text-gray-600 hover:text-gray-800 font-medium" do %>
        <span class="material-icons mr-1 w-1/3">< Volver</span>
      <% end %>
      </div>
      <div class="w-1/3 text-center font-bold text-2xl"><%= index_treated_title(@destination) %></div>
      <!-- Navegación por mes -->
      <div class="flex justify-end items-center gap-4 w-1/3">

        <%= link_to destination_daily_agendas_treated_path(month: @prev_month, year: @prev_year),
                    class: "p-2 rounded-full hover:bg-gray-100" do %>
          <span class="material-icons"><</span>
        <% end %>

        <span class="text-xl font-medium w-42 text-center">
          <%= I18n.l(Date.new(@year, @month), format: "%B %Y").capitalize %>
        </span>

        <%= link_to destination_daily_agendas_treated_path(month: @next_month, year: @next_year),
                    class: "p-2 rounded-full hover:bg-gray-100" do %>
          <span class="material-icons"> > </span>
        <% end %>
      </div>
    </div>
  <div class="pb-2 px-1">
    <% if @daily_agendas.empty? %>
    <div class="w-full text-center font-light text-3xl p-10">No hubo ordenes del día este mes</div>
    <% else %>
    <% @daily_agendas.each do |date, agendas| %>
    <div data-controller="dropdown" class="rounded-lg p-1">
        
        <!-- Cabecera (botón del dropdown) -->
        <button 
          data-action="click->dropdown#toggle"
          class="w-full flex justify-between items-center px-4 py-3 bg-gray-100 hover:bg-gray-200 transition cursor-pointer rounded-lg ">
          <span class="font-semibold text-gray-800">
            <%= l(date) %>  
          </span>

          <span class="text-sm text-gray-600">
            (<%= agendas.size %> orden/es)
          </span>

          <svg data-dropdown-target="icon"
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4 transition-transform duration-200"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 9l-7 7-7-7" />
            </svg>
        </button>

        <!-- Contenido del dropdown -->
        <div data-dropdown-target="menu" class="hidden px-4 py-3 bg-white rounded-2xl">
          <% agendas.each do |agenda| %>
            <div class=-b py-2">
              <div class="font-medium text-gray-800">
                Orden #<%= agenda.number %>
              </div>

              <div class="text-sm text-gray-600">
                  Cantidad de expedientes: <%= agenda.expedients.count %>
                </div>

                <%= link_to "Ver", 
                  daily_agenda_path(agenda), data: { turbo_frame: 'modal' },
                  class: "text-blue-600 hover:underline text-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<%= turbo_frame_tag 'modal' %>