<header class="text-white fixed top-0 left-0 w-full shadow-md z-50 bg-primary-color-static">
      <div class="px-4 py-3 flex justify-between items-center">
    
    <div class="text-lg font-semibold">
      <%= link_to "HCD Facultad de Ciencias Médicas", root_path,
            class: "transition text-white" %>
    </div>

    <nav class="space-x-4 flex items-center">
      <%= header_button('Orden del día', today_daily_agendas_path(treated: false)) %>
      <%= header_button('Orden de destino', daily_agenda_index_destinations_path) %>
      <%= header_button('Expedientes', expedients_path(treated: false)) %>
      <%= header_button('Destinos', destinations_path) %>
      <%= header_button('Temas', subjects_path) %>
      
      
      <div data-controller="dropdown" class="relative inline-block">
  <!-- Botón -->
        <button
          data-action="click->dropdown#toggle"
          class="flex justify-between items-center px-2 py-3 w-auto
                transition cursor-pointer rounded-lg">

          <span class="text-sm mr-2 text-white">
            ¡Hola, <%= current_user.name %>!
          </span>

          <svg
            data-dropdown-target="icon"
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 transition-transform duration-200"
            fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 9l-7 7-7-7" />
          </svg>
        </button>

        <!-- Menú desplegable -->
        <div
          data-dropdown-target="menu"
          class="hidden absolute right-0 mt-2 w-56
                text-white rounded-2xl rounded-t-none
                shadow-2xl z-50 text-center bg-primary-color-static">

          <div class="flex flex-col px-4 py-3 gap-2">
            <%= link_to "Cambiar contraseña",
                  edit_password_change_path,
                  class: "hover:underline" %>

            <%= link_to "Cerrar sesión",
                  destroy_user_session_path,
                  data: { turbo_method: :delete },
                  class: "hover:underline" %>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
