<header class="text-white fixed top-0 left-0 w-full shadow-md z-50 bg-primary-color-static">
      <div class="px-4 py-3 flex justify-between items-center">
    
    <div class="text-lg font-semibold">
      <%= link_to "HCD Facultad de Ciencias Médicas", root_path,
            class: "transition text-white" %>
    </div>

    <nav class="space-x-4 flex items-center">
      <%= header_button('Orden del día', today_daily_agendas_path(treated: false)) %>
      <%= header_button('Orden de destino', daily_agenda_index_destinations_path) %>
      <%= header_button('Expedientes', expedients_path(treated: false)) %>
      <%= header_button('Destinos', destinations_path) %>
      <%= header_button('Temas', subjects_path) %>
      <%= link_to "Cerrar sesión", destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "transition font-semibold" %>


    </nav>
  </div>
</header>
