<%= turbo_stream.update "subjects" do %>
  <%= render "table", subjects: @subjects %>
  <div class="p-10">
    <%= render "shared/pagination_subjects", page: @page, total_pages: @total_pages %>
  </div>
<% end %>

<%= turbo_stream.update "modal", "" %>
<%= turbo_stream.replace("flash-container", partial: "shared/flash") %>
<% flash.discard %>