<td class="<%= 'updating-bg' if updated %> "><%= destination.name %></td>
<td class="<%= 'updating-bg' if updated %> ">  <%= destination.is_commission ? 'Si' : 'No' %>  </td>
<td class="space-x-2 <%= 'updating-bg' if updated %> ">
  <%= link_to "Editar", edit_destination_path(destination), data: { turbo_frame: "modal" } %>
  <%= link_to 'Eliminar', modal_delete_destination_path(destination, page: params[:page]),  data: { turbo_frame: 'modal'} %>
</td>