<%= turbo_stream.remove @destination %>
<%= turbo_stream.update "modal", "" %>

<%= turbo_stream.update "destinations_table" do %>
  <%= render "table", destinations: @destinations %>
  <div class="p-10">
    <%= render "shared/pagination_destinations", page: @page, total_pages: @total_pages %>
  </div>
<% end %>

<%= turbo_stream.update "flash-container", partial: "shared/flash" %>
<% flash.discard %>
