<div class="index-container">
  <div class="index-background">
    <div class="index-title-container">
      <h2 class="elements-title">Destinos</h2>
      <%= new_modal_button('Nuevo destino', new_destination_path) %>
    </div>

    <%= turbo_frame_tag "destinations_table" do %>
      <%= render "table", destinations: @destinations %>
      <div class="p-10">
        <%= render "shared/pagination_destinations", page: @page, total_pages: @total_pages %>
      </div>
    <% end %>
  </div>
</div>

<!-- MODAL -->
<%= turbo_frame_tag "modal" %>