<div class="flex justify-between">
  <div>
    <h2 class="text-2xl font-semibold mb-6">Expediente Nº <%= expedient.file_number %></h2>
  </div>
  <div>
    <%= link_to history_expedient_path(expedient), data: { turbo: false } do %>
    <h2 class="bg-primary rounded-lg px-2 font-semibold mb-6">Ver historial</h2>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-2 gap-6">

  <!-- Número de expediente -->
  <div>
    <label class="text-sm font-semibold text-gray-600">N° de expediente</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.file_number %>
    </p>
  </div>

  <!-- Responsable -->
  <div>
    <label class="text-sm font-semibold text-gray-600">Responsable</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.responsible %>
    </p>
  </div>

  <!-- Detalle -->
  <div class="col-span-2">
    <label class="text-sm font-semibold text-gray-600">Detalle</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.detail %>
    </p>
  </div>

  <!-- Opinión -->
  <div class="col-span-2">
    <label class="text-sm font-semibold text-gray-600">Dictamen</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2 whitespace-pre-line">
      <%= expedient.opinion.presence || "—" %>
    </p>
  </div>

  <!-- Fecha -->
  <div>
    <label class="text-sm font-semibold text-gray-600">Fecha de carga</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.creation_date&.strftime("%d/%m/%Y") %>
    </p>
  </div>

  <% if expedient.treated? %>
  <div>
    <label class="text-sm font-semibold text-gray-600">Fecha de tratado</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <i> <%=  expedient.treat_date&.strftime("%d/%m/%Y") || 'Aún no tratado' %> </i> 
    </p>
  </div>
  <%end%>


  <!-- Destination -->
  <div>
    <label class="text-sm font-semibold text-gray-600">Destino</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.destination&.name || 'Sin destino' %>
    </p>
  </div>

  <!-- Subject -->
  <div>
    <label class="text-sm font-semibold text-gray-600">Tema</label>
    <p class="mt-1 bg-gray-100 rounded px-3 py-2">
      <%= expedient.subject&.name || 'Sin tema' %>
    </p>
  </div>

  <% if expedient.treated? %>
    <div class="col-span-2">
      <label class="text-sm font-semibold text-gray-600">Historial de destinos</label>
      <div class="max-h-48 overflow-auto">
        <% expedient.daily_agenda_histories.each do |history| %>
          <% next unless history.previous_destination.is_commission? %>

          <p class="bg-gray-100 px-3 py-2">
            <%= history.previous_destination.name %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="flex justify-end mt-8">
  <%= link_to "Cerrar", "#", data: { action: "click->modal#close" },
      class: "bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300 transition font-medium" %>
</div>
